[include wm_zru_ext.cfg]

# DUMP_VARIABLES NAME=custom_hall 
# SS49E 1.4mV/Gauss中值3.3/2 1.65V（5073） 0： 1:1.21 2:1.39 3:1.358（4065）
[custom_hall]
adc_pin: EX_T:PA1
#   The ADC pin to use for VREF monitoring. This parameter must be
#   provided.
smooth_time: 0.01
#   A time value (in seconds) over which the vref and vssa
#   measurements will be smoothed to reduce the impact of measurement
#   noise. The default is 2 seconds.

[duplicate_pin_override]
pins: EX_T:PB4

[filament_switch_sensor sensor_b]
switch_pin: EX_T:PB5
pause_on_runout: False

[filament_switch_sensor sensor_a]
switch_pin: EX_T:PB4
pause_on_runout: False

#换挡电机
[echelon_stepper trans_stepper]
step_pin = EX_T:PB10
dir_pin = EX_T:PB11
enable_pin = !EX_T:PB13
endstop_pin = EX_T:PB4
#switch_pin = !EX_T:PB15
microsteps = 16
rotation_distance = 40
velocity = 400
accel = 5000

[tmc2209 echelon_stepper trans_stepper]
uart_pin: EX_T:PB1
run_current: 0.5
# hold_current:0.5
stealthchop_threshold: 0
driver_SGTHRS: 117
diag_pin: ^EX_T:PB12

[stall_sensor ET_STALL_SENSOR]
pin: EX_T:PB12 # TMC Driver DIAG

[lis2dw]
cs_pin: EX_T:PA4
spi_speed: 9000000
spi_bus: spi1
axes_map: -x, -z, y
#   See the "adxl345" section for information on this parameter.

[resonance_tester]
accel_chip: lis2dw
probe_points: 150, 135, 20

